@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alegreya", serif;
}

body {
  background-image: linear-gradient(to bottom right, #30cfd0 0%, #330867 100%);
}

.quote-box blockquote::before,
.quote-box blockquote::after {
content: '"';

}
/* 
.quote-box button:nth-child(2){
  background:transparent;
  

} */
