@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Alegreya", serif;
 
}

body {
  background-image: linear-gradient(to bottom right, #30cfd0 0%, #330867 100%);
  display: block;
  overflow: hidden;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
  content: '"';

}

.quote-button:hover {
  background-image: linear-gradient(to left, #115e59, #38bdf8) !important;
}